@import '';

/* _content/Thrive.AdminPortal/Component1.razor.rz.scp.css */
.my-component[b-37i95zc5c8] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
